@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  letter-spacing: 0.5px;
  /* font-family: '__Roboto_Serif_Fallback_ce05b0'; */
}

.dangerous_box h1 {
  font-size: 1.5rem;
  font-weight: 1000;
  margin-bottom: 24px;
}

.dangerous_box h2 {
  font-size: 1.25rem;
  font-weight: 900;
  margin-bottom: 20px;
}

.dangerous_box h3 {
  font-size: 1.15rem;
  font-weight: 800;
  margin-bottom: 16px;
}

.dangerous_box h4 {
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 12px;
}

.dangerous_box h5 {
  font-size: 0.9rem;
  font-weight: 800;

}

.dangerous_box p,
.dangerous_box div,
.dangerous_box li {
  margin-bottom: 8px;

}

.dangerous_box figure img {
  width: 100%;
}

.dangerous_box figure em {
  opacity: 0.75;
  font-size: 0.9rem;
}

.dangerous_box ul {
  padding-left: 20px;
}

.dangerous_box ul li {
  list-style: disc;
}

.ani_bottom_to_top {
  animation: bot_to_top 0.5s;
}

.scroll_none::-webkit-scrollbar {
  display: none;
}

.cardIn {
  animation: cardIn 1s;
}

@keyframes cardIn {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}