* {
    margin: 0;
}

div {
    box-sizing: border-box
}

@import './grid.css';

main {
    min-height: 100vh;
}

embed {
    height: 0;
    overflow: hidden;
}

.focusOutlineNone:focus {
    outline: none;
}