:root {
    --main: #00aaff;
    --light: #e6f7ff;
    --mainlight: #80d4ff;
    --dark: #005580;
    --maindark: #00111a;
}

@import "./grid.scss";

* {
    margin: 0;
}

a {
    text-decoration: none;
    color: unset
}

div {
    box-sizing: border-box;
}

.provider::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 5px;
    background-color: transparent
}

.provider::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
    opacity: 0.5;
    width: 90%;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.light {
    background-color: var(--light);
    color: black;
}

.dark {
    background-color: var(--maindark);
    color: white;
}

.main_light {
    background-color: white;
    color: var(--maindark);
}

.main_dark {
    background-color: var(--dark);
    color: white;
}

.provider {
    width: 100%;
    max-width: 1600px;
    margin: auto;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;

    .notice {
        position: fixed;
        z-index: 11;
        background-color: white;
        min-height: 30px;
        padding: 5px 0;
        width: 100%;
        box-shadow: 0px 5px 10px -5px #888;
        transform: translateY(-150%);
        transition: all 0.5s;
        text-align: center;
        color: white;
    }

    .alert {
        position: fixed;
        z-index: 11;
        padding: 5px 0;
        width: 100%;
        box-shadow: 0px 5px 10px -5px #888;
        transform: translateY(-150%);
        transition: all 0.5s;
        text-align: center;
        color: white;

        .box {
            display: flex;
            width: max-content;
            margin: auto;

            .button {
                margin: 10px 5px;
            }
        }
    }

    .alert_open,
    .notice_open {
        transform: translateY(0px);
    }
}

.header {
    height: 100px;
    display: flex;

    svg {
        width: 30px;
        height: 30px;
        margin: auto 5px;
        cursor: pointer
    }

    svg:hover {
        color: var(--main);
    }

    img {
        margin: auto 5px;
        cursor: pointer;
        border-radius: 50px;
        border: 1px solid var(--mainlight);
    }

    h1 {
        font-size: 30px;
        line-height: 100px;
        margin: auto;
    }
}

.menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 365px;
    overflow: hidden;
    height: calc(100vh);
    transition: all 0.5s;
    box-shadow: 1px 0px 10px -5px #888;
    border-radius: 5px;
    transform: translateX(-120%);
    padding: 25px;
    z-index: 10;

    svg {
        position: absolute;
        width: 30px;
        height: 30px;
        right: 25px;
        top: 25px;
        cursor: pointer
    }

    h2 {
        margin: 50px 0 0;
        padding: 15px 10px;
    }

    h3 {
        padding: 10px;
        cursor: pointer;
    }

    h3:hover {
        color: white;
        background-color: var(--main);
    }
}

.menu_open {
    transform: translateX(0%);
}

.home_item {
    overflow: hidden;

    .home_item_cover {
        height: 70vh;

        width: 100%;
        position: relative;
        overflow: hidden;

        .show {
            height: 100%;

            .pic {
                min-width: 992px;
                margin: auto calc((100% - 992px)/2);
                height: 100%;
                text-align: center;

                img {
                    width: auto;
                    height: 100%;
                }
            }
        }

        .button {
            position: absolute;
            bottom: 5%;
            width: 100%;
            display: flex;
            left: 0%;
            height: 20%;
            overflow: hidden;
            background-color: inherit;

            .circle {
                margin: auto 5px;
                height: 90%;
                aspect-ratio: 3/2;
                cursor: pointer;
                border-radius: 5px;
                box-shadow: 2px 5px 10px -5px #888;
                transition: all 0.5s;
                background-color: white;
                text-align: center;

                img {
                    width: auto;
                    height: 100%;
                    background-color: white;
                }
            }

            .select_img {
                box-shadow: 2px 5px 15px -5px #888;
                border: 1px solid #888;
                height: 95%;

            }
        }

        .introduction {
            position: absolute;
            top: 5%;
            height: 60%;
            right: 5%;
            width: 75%;
            max-width: max-content;
            border-radius: 5px;
            box-shadow: 1px 1px 5px 0px #888;
            background-color: rgba($color: white, $alpha: 0.9);
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 5%;

            .name {
                font-weight: bold;
                font-size: 1.25rem;
            }

            .brand {
                font-weight: bold;
            }

            .price {
                font-size: 1.5rem;
                color: red;
                font-weight: bold;
                margin: 10px 0;
            }

            .readmore {
                font-weight: 300;
                color: darkcyan;
                font-size: 0.8rem;
            }

        }
    }

    .home_item_main {
        height: 100vh;
        margin-top: 50px;

        .home_item_main_left {
            overflow: hidden;
            height: 100%;

            .show {
                height: 80%;
                text-align: center;

                img {
                    width: auto;
                    height: 80%;
                }
            }

            .images {
                height: 20%;
                width: 100%;
                overflow: scroll;
                display: flex;

                .circle {
                    height: 90%;
                    width: auto;
                    margin: 0 5px;
                    box-shadow: 1px 5px 15px -5px #888;
                    transition: all 0.5s;

                    img {
                        height: 100%;
                        width: auto;
                    }

                }

                .select_img {
                    animation: animationin 0.25s forwards;
                    box-shadow: 2px 5px 15px -5px #888;
                    border: 1px solid #888;
                }
            }

            .images::-webkit-scrollbar {
                display: none
            }
        }

        .home_item_main_right {
            overflow-y: scroll;
            overflow-x: hidden;
            padding: 5%;
            height: 100%;
            border-left: 1px solid;
            margin: 0 10px;

            h3 {
                text-align: center;
                margin-bottom: 10px;
            }

            .table {
                border-collapse: collapse;
                width: 100%;

                tbody {
                    tr {
                        td {
                            border: 1px solid #888;
                            padding: 10px;
                        }
                    }
                }
            }

            .detail {
                text-align: justify;

                p {
                    letter-spacing: 0.5px;
                    line-height: 1.75;

                    span {
                        font-family: '__Inter_e66fe9' !important;
                    }
                }
            }
        }

        .home_item_main_right::-webkit-scrollbar {
            display: none;
        }
    }

}

.login {
    width: 90%;
    margin: auto;
    max-width: 375px;
    height: 500px;
    box-shadow: 5px 5px 20px -5px #888;
    border-radius: 5px;
    background-color: white;
    color: var(--dark);

    .link {
        font-size: 0.9rem;
        opacity: 0.5;
        cursor: pointer;
        color: var(--dark);
    }

    .link:hover {
        opacity: 0.75;
    }

    .warn {
        color: red;
        font-size: 0.6rem;
        font-weight: 500;
    }
}

.cover {
    text-align: center;
    overflow: hidden;
    height: 550px;

    video {
        width: 100%;
        min-width: 992px;
        margin-left: calc((100% - 992px)/2);

        @media (min-width:992px) {
            margin: auto;
            height: 550px;
        }
    }
}

.home_product {
    width: 100%;
    max-width: 1200px;
    padding: 50px 0 5px;
    margin: auto;

    .home_product_header {
        text-align: center;

        h1 {
            height: 50px;
            line-height: 50px;
        }
    }

    .home_product_main {
        margin-top: 25px;

        .item {
            aspect-ratio: 1;
            text-align: center;
            margin: 10px;
            box-shadow: 0px 2.5px 10px -2.5px #888;
            padding: 5px;
            cursor: pointer;
            transition: all 0.5s;
            border-radius: 5px;
            background: white;

            .image {
                height: 75%;

                img {
                    height: 100%;
                    width: auto;
                }
            }

            .title {
                height: 25%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                opacity: 0.75;
                font-size: 0.9rem;

                h4 {
                    color: red;
                }
            }

        }

        .item:hover {
            box-shadow: 0px 2.5px 10px -1px #888;
            transform: scale(1.025);
        }
    }
}

.home_archive {

    .home_archive_tool {
        max-width: 1200px;
        margin: auto;
        position: relative;
        display: flex;

        .select {
            position: relative;
        }

        .input {
            margin: 0 10px;
            box-shadow: 1px 5px 10px -5px #888;
        }
    }

    .home_item {
        .home_item_main {
            height: max-content;

            @media (min-width:768px) {

                height: calc(100vh - 100px);
                margin-top: 0;
            }
        }

        .home_item_main_left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;

            .show {
                height: max-content;

                video {
                    width: 100%;
                }
            }
        }
    }

    .pagination {
        display: flex;
        max-width: max-content;
        margin: auto;

        p {
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px;
            cursor: pointer;
        }
    }
}

.seemore {
    max-width: 1200px;
    text-align: right;
    margin: auto;
    cursor: pointer;
    font-size: 0.75rem;
}

.dividers {
    z-index: 9;
    color: var(--dark);
}

.profile {
    color: var(--maindark);

    .profileLeft {
        height: calc(100vh - 110px);
        margin: 5px auto 0;
        overflow: scroll;
        width: 50px;
        background-color: white;
        border-radius: 5px;

        .dividers {
            position: inherit;
            width: 100%;
            transform: unset;
            box-shadow: none;
            padding: 5px;
            border-radius: 5px;
            top: 0px;

            .divider {
                width: 100%;
                text-align: left;
                border-radius: 5px;
                text-align: center;

                svg {
                    width: 30px;
                    height: 30px;
                    margin-top: 5px;
                }

                span {
                    display: none;
                }
            }


        }

        @media (min-width:768px) {
            width: 250px;

            .dividers {
                .divider {
                    display: flex;

                    span {
                        display: block;
                        padding: 0 5px
                    }
                }
            }
        }
    }

    .profileLeft::-webkit-scrollbar {
        display: none;
    }

    .profileRight {
        margin: 0 auto;
        padding: 5px;
        height: max-content;
        width: calc(100% - 60px);

        .profile_user {
            padding: 5px;
            box-shadow: 0px 2px 15px -5px #888;
            background-color: white;
            color: var(--dark);
            border-radius: 5px;
            position: relative;
            height: 350px;

            .cover {
                width: 100%;
                height: 200px;
                border-radius: 5px;
                position: relative;
                overflow: hidden;

            }

            .usernameandavata {
                width: max-content;
                display: flex;
                position: absolute;
                top: 150px;
                left: 5%;
                z-index: 2;

                .avata {
                    width: 150px;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    overflow: hidden;

                    .UploadPicture {
                        width: 100%;
                        height: 100%;

                        img {
                            min-width: inherit;
                            transform: none;
                            width: 100%;
                            height: auto
                        }

                        .tool {
                            right: 12.5%;
                            bottom: 12.5%;
                        }
                    }
                }

                .title {
                    font-weight: bold;
                    font-size: 1.5rem;
                    height: max-content;
                    margin: auto auto 10px 10px;
                    line-height: 0.75;

                    span {
                        font-weight: 400;
                        font-size: 0.9rem;
                        opacity: 0.5;
                    }
                }
            }

        }

        .information {
            margin-top: 10px;

            .intro,
            .myimage,
            .myinfo {
                box-shadow: 0px 2px 15px -5px #888;
                background-color: white;
                padding: 5px;
                margin: 5px 0;
                border-radius: 5px;
                overflow: hidden;

                .info_header {
                    font-weight: 600;
                    height: 30px;
                    line-height: 30px;
                    padding: 0 10px;
                    border-bottom: 1px solid #ccc;
                }

                .info_content {
                    padding: 10px;
                    line-height: 1.75;

                    h4 {
                        margin-bottom: 5px;
                        font-weight: 500;
                    }

                    .pic {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        overflow: hidden;

                        img {
                            width: auto;
                            height: 100%;
                        }
                    }
                }
            }
        }

        @media (min-width:768px) {
            width: calc(100% - 260px);

        }
    }

}

.admin {
    padding: 5px 0;

    .admin_header {
        display: flex;
        height: 30px;
        padding: 0 5px;
        line-height: 30px;

        svg {
            margin: auto 0;
            width: 25px;
            height: 25px;
            cursor: pointer;
        }

        p {
            font-weight: bold;
            margin-left: 5px;
        }

        .icon {
            width: max-content;
            margin: auto 0px auto auto;
        }

    }

    .admin_main {
        display: flex;
        overflow: hidden;
        width: max-content;

        .admin_main_left {
            width: 40px;
            height: calc(100vh - 40px);
            overflow: hidden;
            padding: 5px;
            transition: all 0.5s;

            p {
                margin: 5px 0;
                display: flex;
                cursor: pointer;
                padding: 5px 0;
                line-height: 25px;

                svg {
                    width: 25px;
                    height: 25px;
                }

                span {
                    display: none;
                }
            }

            p:hover {
                color: var(--dark);
            }

            .p_plus {
                color: var(--main);
            }
        }

        .admin_main_right {
            padding: 5px;
            width: calc(100vw - 40px);
            transition: all 0.5s;

            @media (min-width:575px) {
                width: calc(100vw - 250px);
            }

            .right_header {
                display: flex;
                margin: 0 0 10px 0;
                border-radius: 5px;

                svg {
                    width: 25px;
                    height: 25px;
                    margin: auto 5px;
                    cursor: pointer;
                }

                .input {
                    margin: 0;
                    border-bottom: 1px solid;

                    svg {
                        margin: inherit;
                    }
                }
            }

            .item_right {
                background-color: white;
                box-shadow: 0px 5px 10px -5px #888;
                border-radius: 5px;
                padding: 5px;

                .item {
                    width: 100%;
                    display: flex;
                    height: 40px;
                    cursor: pointer;
                    padding: 0 5px;

                    p {
                        height: max-content;
                        margin: auto 0;
                    }

                    .icon {
                        margin: auto 0 auto auto;
                    }
                }

                .item:hover {
                    background-color: var(--mainlight);
                    color: white;
                }
            }

            .edit_item {
                text-align: center;
                width: 100%;
                background-color: white;
                border-radius: 5px;
                padding: 5px;
                min-height: 100%;
                position: relative;

                .input {
                    margin: 5px auto;
                    max-width: inherit;
                    width: 90%;
                    border: 2px solid #ccc;
                    height: 60px;
                }

                .pictureBox {
                    width: 90%;
                    margin: 0 auto;
                    text-align: left;

                    .title {
                        display: flex;
                        margin: 25px 0;

                        svg {
                            width: 25px;
                            height: 25px;
                            margin-left: 5px;
                        }
                    }

                    .viewImg {
                        display: flex;
                        flex-wrap: wrap;
                    }
                }

                .inputA {
                    width: 90%;
                    margin: 25px auto 0;
                    padding: 50px 5%;
                    border: 2px solid #ccc;
                }

                .input_focus,
                .inputA_focus {
                    border: 2px solid var(--dark);

                    input {

                        color: var(--dark);
                    }
                }

                .cover {
                    width: 100%;
                    height: 200px;
                    border-radius: 5px;
                    position: relative;
                    overflow: hidden;

                }

                .usernameandavata {
                    width: max-content;
                    display: flex;
                    position: absolute;
                    top: 150px;
                    left: 5%;
                    z-index: 2;

                    .avata {
                        width: 150px;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        overflow: hidden;

                        .UploadPicture {
                            width: 100%;
                            height: 100%;

                            img {
                                min-width: inherit;
                                transform: none;
                                width: 100%;
                                height: auto
                            }

                            .tool {
                                right: 12.5%;
                                bottom: 12.5%;
                            }
                        }
                    }

                    .title {
                        font-weight: bold;
                        font-size: 1.5rem;
                        height: max-content;
                        margin: auto auto 10px 10px;
                        line-height: 0.75;

                        span {
                            font-weight: 400;
                            font-size: 0.9rem;
                            opacity: 0.5;
                        }
                    }
                }

                .infomation {
                    margin-top: 150px;

                    .input {

                        .name_focus {
                            transform: translateY(5px);
                        }
                    }

                    .inputA {
                        width: 95%;
                    }

                    .select {
                        margin: 15px 0;
                        position: relative;
                        left: 5%;
                    }

                    .active {
                        width: 90%;
                        margin: auto;
                        height: 60px;
                        line-height: 60px;
                        text-align: left;
                        position: relative;

                        svg {
                            position: absolute;
                            top: 17.5px;
                            left: 60px;
                        }
                    }
                }
            }
        }

        .open_width_menu {
            width: 250px;

            p {
                font-weight: bold;

                span {
                    display: block;
                    padding: 0 5px;
                }
            }
        }

        .admin_main_right_open {
            width: calc(100vw - 40px);

        }
    }
}