.inputA {
  position: relative;
  width: 100%;
  height: 300px;
  padding: 50px 25px 25px;
}

.inputA .name {
  position: absolute;
  width: max-content;
  opacity: 1;
  transition: all 0.5s;
  z-index: 2;
}

.inputA .name_focus {
  transform: translateY(-1.75rem);
  opacity: 0.5;
}

.inputA .input_box {
  width: 100%;
  height: 100%;
  text-align: left;
  transition: all 0.5s;
  overflow: scroll;
}

.inputA .input_box::-webkit-scrollbar {
  display: none;
}

.inputA .input_box:focus {
  outline: none;
}

.input {
  position: relative;
  width: 100%;
  max-width: 275px;
  margin: 5px auto;
  height: 50px;
  border: 1px solid transparent;
  border-bottom: 1px solid #888;
  transition: all 0.5s;
}

.input .name {
  position: absolute;
  z-index: 2;
  left: 5%;
  transition: all 0.5s;
  transform: translateY(1rem);
  font-size: 0.9rem;
}

.input .name_focus {
  transform: translateY(0);
  opacity: 0.5;
}

.input .input_box {
  width: 100%;
  height: 100%;
  border: none;
  padding: 15px 5% 0px;
  font-size: 1rem;
  color: inherit;
  box-sizing: border-box;
  background-color: inherit;
}

.input .input_box:focus {
  outline: none;
  background-color: white;
}

.input_focus {
  border: 1px solid transparent;
}

.button {
  width: 100px;
  height: 40px;
  margin: 10px auto;
  background-color: var(--main);
  color: white;
}

.button button {
  width: 100%;
  height: 100%;
  border: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}

.upload_button {
  width: max-content;
}

.upload_button input {
  display: none;
}
